<section class="productInfo">
    <p class="likeProduct">
        <i class="far fa-heart"></i>
        <i class="fas fa-heart"></i>
    </p>
    <img src="<%=productUrl%>" alt="<%=p.name%>" class="productImage">
    <p class="productBrand"><%=p.brand%></p>
    <p class="productName"><%=p.name%></p>
    <p class="productPrice"><%=p.price%></p>
</section>