<div class="productLink">
    <section class="productInfo productInfo-admin">
        <div class="productImageContainer">
            <img src="/images/<%=p.type%>/<%=p.imageUrl%>" alt="<%=p.name%>" class="productImage">
        </div>
        <div>
            <p class="productBrand"><%=p.brand%></p>
            <p class="productName"><%=p.name%></p>
            <p class="productPrice"><%=p.price%> <span class="currency">SEK</span></p>
        </div>        
    </section>
    <div class="adminOptions centerFlexSpaceBetween ">            
        <a href="/admin/addProduct/:<%=p%>">Edit</a>
        <a href="/admin/deleteProduct">Delete</a>
    </div>
</div>