<%- include('../includes/start') %>
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>

    <%- include('./adminMenu') %>
    <h1 class="pageTitle"><%=title%></h1>
    <form action="" method="post" class="newProdTypeForm">
        <div class="centerFlexSpaceBetween">
                <section class="">
                    <label for="category" class="formLabel">Categories</label>
                    <select name="category" id="category" class="formInput adminDropDown" required>    
                        <% categories.forEach( (category, index) => {%>
                            <% let opSelected = (index === 0) ? 'selected' : '' %>
                            <option value="<%=category._id%>"  class="selectOption"<%=opSelected%> >
                                <%=category.name%> for <%= category.audience.name%>
                            </option> 
                        <%}) %>       
                    </select>
                </section>
            
            <section class="fieldContainer">
                <label for="prodType" class="formLabel">Product Type</label>
                <input type="text" name="prodType" id="prodType" class="formInput" required value="<%= locals.prodType ? prodType.name : ''%>">
            </section>
        </div>
        
        <div class="centerFlex">
            <button type="submit" class="formBtn formInput">Submit</button>
            <button type="reset" class="formBtn formInput">Reset</button>
        </div>
    </form>

</body>
</html>