<%- include('../includes/start') %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../includes/topNav') %>
    <%- include('./adminMenu') %>
    <h1 class="title"><%=title%></h1>
    <main>
        <h2 class="activityHeader">Is not implemented yet :(!!!</h2>
    </main>
    
    <%- include('../includes/footer') %>
</body>
</html>