<%- include('../includes/start') %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../includes/topNav') %>
    <%- include('./adminMenu') %>
    <h1 class="title"><%=title%></h1>
    <main>
        <%if(locals.prodTypes.length > 0) {%>
            <ol class="itemList centerFlexSpaceBetween">
            <%prodTypes.forEach( prodType => {%>
                <li class="itemList__item .itemList__item-50">
                    <div class="listProps">
                        <span class="sectionName centerFlex">Id</span>
                        <span class="sectionValue"><%=prodType._id%></span>
                    </div>
                    <div class="listProps">
                        <span class="sectionName centerFlex">Name</span>
                        <span class="sectionValue"><%=prodType.name%></span>
                    </div>    
                    <div class="listProps">
                        <span class="sectionName centerFlex">Category</span>
                        <span class="sectionValue"><%=prodType.category.name%></span>
                    </div>    
                    <div class="listProps">
                        <span class="sectionName centerFlex">Audience</span>
                        <span class="sectionValue"><%=prodType.category.audience.name%></span>
                    </div>               
                </li>
            <%})%>
            </ol>
        <%} else {%>
            <h2 class="title">Could not find any Product Type</h2>
        <%}%>
    </main>
</body>
</html>