<%- include('../includes/start') %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../includes/topNav') %>
    <%- include('./adminMenu') %>
    <h1 class="title"><%=title%></h1>
    <main>
        <%if(locals.prodSizes.length > 0) {%>
            <ol class="itemList centerFlexSpaceBetween">
            <%prodSizes.forEach( prodSize => {%>
                <li class="itemList__item itemList__item-50">
                    <div class="listProps">
                        <span class="sectionName centerFlex">Id</span>
                        <span class="sectionValue"><%=prodSize._id%></span>
                    </div>
                    <div class="listProps">
                        <span class="sectionName centerFlex">sizes</span>
                        <span class="sectionValue"><%=prodSize.sizeNames%></span>
                    </div>
                    <div class="listProps">
                        <span class="sectionName centerFlex">Product Type</span>
                        <span class="sectionValue"><%=prodSize.prodType.name%></span>
                    </div>    
                    <div class="listProps">
                        <span class="sectionName centerFlex">Category</span>
                        <span class="sectionValue"><%=prodSize.prodType.category.name%></span>
                    </div>    
                    <div class="listProps">
                        <span class="sectionName centerFlex">Audience</span>
                        <span class="sectionValue"><%=prodSize.prodType.category.audience.name%></span>
                    </div>               
                </li>
            <%})%>
            </ol>
        <%} else {%>
            <h2 class="title">No sizes found</h2>
        <%}%>
    </main>
</body>
</html>